.addFriend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-radius: 40px;
}

i:hover {
  transform: scale(1.1);
}

.addFriend h5 {
  font-family: "Nunito", sans-serif;
}
