.midDiv {
  flex-grow: 1;
  height: 100%;
  margin: 12px 5px;
}

.conversation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
