.sendMessage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.sendMessage input {
  height: 40px;
  border-radius: 20px;
  border: solid 0;
  width: 65%;
  padding-left: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sendMessage button {
  margin: 0 10px 0 5px;
  width: 60px;
  height: 38px;
  background-color: #ff0028;
  color: white;
  border: 2px solid #ff0028;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 1rem;
}

.sendMessage button:hover {
  background-color: white;
  color: #f44336;
}

.sendMessage input:focus {
  outline: none;
}
