@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

.formContainerSignUp {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 60vh;
  margin: 9% auto;
  border-radius: 10px;
  box-shadow: 2px 12px 19px -1px rgba(0, 0, 0, 0.54);
}

.signOrLogDivSignUp {
  background-color: #ff0028;
  width: 40%;
  height: 100%;
  text-align: center;
}

.signOrLogFormSignUp {
  width: 60%;
  height: 100%;
}

.formDivSignUp {
  text-align: center;
  margin-top: 10%;
}

.signUpH2SignUp {
  font-family: "Nunito", sans-serif;
  color: #663f3f;
  font-size: 2rem;
}

.signUpH3SignUp {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 1.6rem;
  margin-top: 40%;
}

.signUpPSignUp {
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  color: #252525;
}

.signUpPLoginSignUp {
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  margin-top: 20px;
  padding: 0 20px 0 20px;
}

.signUpFormSignUp {
  margin-top: 30px;
  text-align: center;
}

.signUpFormSignUp input {
  margin-bottom: 10px;
  height: 30px;
  outline: 0;
  border: solid;
  border-width: 0;
  background-color: #d6fbff;
}

input:focus {
  border-width: 0 0 2px;
  border-color: #31cfe0;
}

.formButton1SignUp {
  margin-top: 10px;
  width: 77px;
  height: 30px;
  background-color: #ff0028;
  color: white;
  border: 2px solid #ff0028;
  transition-duration: 0.4s;
  cursor: pointer;
}

.formButton1SignUp:hover {
  background-color: white;
  color: #f44336;
}

.formButton2SignUp {
  margin-top: 15px;
  width: 77px;
  height: 30px;
  border-radius: 3px;
  background-color: #007ba7;
  color: white;
  border: 2px solid #007ba7;
  transition-duration: 0.4s;
  cursor: pointer;
}

.formButton2SignUp:hover {
  background-color: #ff0028;
  color: white;
}
