.button {
  width: 60px;
  height: 38px;
  background-color: #ff0028;
  color: white;
  border: 2px solid #ff0028;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: white;
  color: #ff0028;
}
